{% extends "base.html" %}

{% block extrahead %}
<script data-ad-client="ca-pub-3005244829781988" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

<!-- Disable site_nav -->
{% block site_nav %}{% endblock %}

{% block content %}
<style>
  .override-nav {
  }

  .override-nav > div:first-of-type > h2:first-of-type {
    margin-top: 0;
  }

  .nav-item {
    border-bottom: 1px solid #f2f2f0;
  }

  .nav-item-excerpt {
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.59;
    color: #666665;
  }

  .nav-item span {
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
    font-style: italic;
    font-size: 16px;
    color: #666665;
  }
</style>

<div class="override-nav">
  {% with items = [] %}
    {% for page in nav %}
      {% if page.meta.date %}
        {{ items.append((page.meta.date, page.url, page.title, page.content)) | default('', true) }}
      {% endif %}
    {% endfor %}
    {% for item in items | sort(reverse=true) %}
      <div class="nav-item">
        <h2><a href="{{ item[1] | url }}">{{ item[2] }}</a></h2>
        <section class="nav-item-excerpt">
          <p>{{ item[3] | truncate(256) }}</p>
        </section>
        <span>{{ item[0] }}</span>
      </div>
    {% endfor %}
  {% endwith %}
</div>
{% endblock %}
